{% extends "index.html" %}


{% block title %}
    Survey
{% endblock %}


{% block main %}
    <p>
        *Try out all three versions before voting!
    </p>
    <form action="/survey" method="post">
        <fieldset>
            <legend>Section 1</legend>

            <label for="c">How was the C version? (out of 10)</label>
            <input type="number" min="0" max="10" required name="cver" id="c"/>

            <label for="p">How was the Python version? (out of 10)</label>
            <input type="number" min="0" max="10" required name="pver" id="p"/>

            <label for="h">How was the HTML (Flask) version? (out of 10)</label>
            <input type="number" min="0" max="10" required name="hver" id="h"/>
        </fieldset>
        <fieldset>
            <legend>Section 2</legend>

            <label for="l">Any other feedback?</label>
            <textarea autocomplete="off" rows="4" required name="long" id="l">NIL</textarea>
        </fieldset>
        <button type="submit">Submit Survey</button>
    </form>
{% endblock %}
