<!DOCTYPE HTML>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <meta name="viewport" content="device-width, initial-scale=1">
        <title>
            {% block title %} {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <a href="/">
                CS50x Final Project
            </a>
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
        <footer>
            •ᴗ•
        </footer>
    </body>
</html>
